body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/*navigation-bar*/
.navbar {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: rgb(0, 103, 172);
    border-bottom: solid;
    border-width: 1px;
}

#img-logo {
    width: 200px;
    height: 75px;
    margin-right: auto;
    
}
#img-logo a:hover{
    border-bottom: none;
}
.navbar-item {
    padding-right: 22px;
}

#btn-book-ap {
    border-radius: 40px;
    background: rgb(0, 103, 172);
    color: white;
}
/*page1*/

.light-font {
    font-weight: 350;
    font-size: 16.5px;
}

.bold-font {
    font-weight: 700;
}

.navbar{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
#services-btn{
    border-radius: 4px;
    width: 150px;
    background-color: rgb(244, 95, 11);
    color: white;
    font-weight: 550;

}
#estimate-btn{
    color: white;
    font-weight: 550;
    background-color: none;
}
#main-img{
    display: inline;
    width: 110%;
    height: auto;
}
/*page2*/
#boxes-page2{
    color: white;
}
.list-item{
    list-style-type: none;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(110, 108, 108);
    text-align: left;
}
/* boxes */
.box-head{
    font-weight: 600;
}