.navbar {
    list-style: none;
}
.navbar a{
text-decoration: none;
color: black;
}
.navbar a:hover{
    color:rgb(0, 103, 172) ;
   border-bottom: solid;
   border-width: 1px;
}
#img-logo{
    width: 200px;
    height: 75px;
    margin-right: auto;
}
.navbar-item{
    padding-right: 24px;
}
#btn-book-ap{
    border-radius: 40px;
    background:rgb(0, 103, 172);
    color: white;
}